#friends-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 16px 0px;
}

#friends-display-link i {
    margin: 0px 6px;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    border-top: var(--main-border);
    padding: 16px 0px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 0.7s;
}