.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding: 24px var(--horizontal-space);
}

.screen-header__title {
    font-size: 32px;
    font-weight: 700;
}

.screen-header__icons i {
    margin-left: 20px;
}

#relative-father {
    position: relative;
}

.screen-header__more-notification {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}